*{
    box-sizing: border-box;

}
body{
    background-color: rgb(233, 250, 139);
}
h1{
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#h1{
    color: green;

}
#content{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}
#info{
    
width: 80%;
height: 360px;
background-color: rgba(255, 0, 55, 0.205);
margin: auto;
border-radius: 8px;
}
#select{
    margin: 18px;
    text-align: center;
}
#list{
    font-size: 24px;
    border-radius: 8px;
    border-color: green;
    padding: 6px;
    border-width: 4px;
}
#countries{
    width: 96%;
    height: auto;
    background-color: rgba(143, 143, 143, 0.432);
    margin:auto;
    border-radius: 8px;
    padding:14px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:1rem;
  
}
.cname{
    color:green;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#countries img{
    width: 100%;
    height: 100%;
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
#cimg{
    width: auto;
    height: auto;
    padding: 20px;
}
#cimg img{
    width: 100%;
    height: 100%;
}
#paras{
    font-size: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   
}
img[src=""] {
    display: none;
}
#paras span{
    color: green;
}
@media(max-width: 768px){
    #info{
        width: 90%;
        height:auto;

        
        display: flex;
        flex-direction: column;
    }
    #paras{
        font-size: 14px;
        padding: 10px;
    }
    #cimg{
        width: auto;
        height: auto;
        padding: 10px;
    }
    
}


  